/*
 * Base structure
 */

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
/*.nav-sidebar > .active > a {
  color: #fff;
  background-color: #00AAEA;
}

.nav-sidebar > li > a:hover  {
  color: #2a6496;
}

.nav>li>a:focus {
  background-color: #00AAEA;
  text-decoration: none;
}*/

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
  margin-top: 50px;
}

body {
  height: 100%;
  text-align: center;
  
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
  z-index: -1;
}

html {
  position: relative;
  height: 100%;
  z-index: -1;
}

#tf-image-container  {
  z-index: -1;
  height: 100%;
}

@media(min-width: 1300px) {
  #tf-image-container  {
    background: url(/img/background_tf.png) no-repeat;
  }
}

#center-container {
  max-width: 900px; 
  text-align: left; 
  margin: 0px auto; 
  margin-left: 150px;
  background-color: #FFFFFF;
  z-index: -1;
  position: static;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow: hidden;
  min-height: 100%; 
}

@media(max-width: 1210px) {
  #center-container {
    margin: 0px auto; 
  }
}

#sidebar-remotes {
  padding-left: 4px;
}

#div-img-overview-left {
  text-align: left; 
}

#div-img-overview-right {
  text-align: right; 
}

#remote-switch-buttons {
  float: right;
}

.progress {
  margin-bottom: 0px;
}

#remote-switch-switching {
  text-align: center;
}

#span-remote-switch-name {
  float: left;
}

#div-remote-settings-id {
  font-size: 28px;
  text-align: center;
}

#remote-switch-connection {
  margin-right: 10px;
}